contact application:
    
    1.Enter new record
    2.Display all records
    3.Update Record
    4.Delete Record

    1. ramu -> not exists
        mobile number -> xxxx
        ramu record Already exists
    2. 
        name      mobile number
        ramu      xxxxxxxxxxx
        rajesh    xxxxxxxxxxx
        
    3. ramu -> exist
        mobile number -> xxxxxxx
        User doesnt exists
    4. ramu -> exist
        User deleted Successfully
        User doesnt exists

In [2]:
n = int(input("Enter a range: "))
for j in range(1,n+1):
    t = {'name':input( ),'age':int(input()),'sal':int(input())}
    print(t)
    print("Contact added successfully...!")
    print("------------------------------------------------------")

Enter a range: 3
Aditya
20
6300051546
{'name': 'Aditya', 'age': 20, 'sal': 6300051546}
Contact added successfully...!
------------------------------------------------------
Arjun
21
6388856743
{'name': 'Arjun', 'age': 21, 'sal': 6388856743}
Contact added successfully...!
------------------------------------------------------
Raju
25
7899454783
{'name': 'Raju', 'age': 25, 'sal': 7899454783}
Contact added successfully...!
------------------------------------------------------

In [3]:
 m={}
for j in range(2):
    k = input("Enter your name: ")
    n = int(input("Enter your mobile number: "))
    m[k] = n
print(m)

Enter your name: Aditya
Enter your mobile number: 6300051546
Enter your name: Arjun
Enter your mobile number: 6388856743
{'Aditya': 6300051546, 'Arjun': 6388856743}

In [5]:
m.update({'Raju': 7899454782})
print(m)

{'Aditya': 6300051546, 'Arjun': 6388856743, 'Suchi': 504, 'Raju': 7899454782}

In [7]:
m.popitem()
print(m)

{'Aditya': 6300051546, 'Arjun': 6388856743}